<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="desc">{{quote.description}}</h3>
    </div>
    <div class="col-lg-12">
      <div class="col">
        <ul>
          <li class="item">
            <a (click)="voteUp()">
              <i class="fa fa-heart"></i> {{votes}}
            </a>
          </li>
          <li class="item">
            <a (click)="voteDown()">
              <i class="fa fa-thumbs-down"></i> {{votesDown}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <button type="button" (click)="quoteDelete(true)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
    </div>
  </div>
</div>