/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

nav a.active {
  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 10px;
  padding: 5px 20px;
}

.align-middle {
  text-align: center;
  padding-top: 15%;
}