<img src="./assets/bob-marley.jpg" alt="Image" class="img-fluid top">
<div class="container-fluid">
  <h2>Welcome to your number one Quotes-app</h2>
  <hr>
  <h3>The Process</h3>
  <div class="row">
    <div class="col-lg-4">
      <img src="./assets/browse.png" alt="Browse" class="img-fluid icon">
      <p>Browse for quotes you like and upvote them so that they can top the list</p>
    </div>
    <div class="col-lg-4">
      <img src="./assets/post.png" alt="Post" class="img-fluid icon">
      <p>Add your own quotes by filling in the author, quote, and date it was quoted.</p>
    </div>
    <div class="col-lg-4">
      <img src="./assets/delete.jpeg" alt="Delete" class="img-fluid icon">
      <p>Delete a quote you do not like or double click the date to hide it</p>
    </div>
  </div>
</div>
<p class="start">Get started by clicking on 'post a quote' on the navigation bar</p>